name: Build Anduril 2
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install Compiler
        run: sudo apt-get update && sudo apt-get install -y gcc-avr avr-libc
      - name: Compile
        run: |
          chmod +x build-all.sh
          ./build-all.sh
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: anduril-hex-files
          path: "*.hex"
          
